@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'),
        url(/assets/fonts/MaterialIcons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
li a {
    color: #ec6248;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a:hover,
li a:hover {
    opacity: 0.6;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.mdl-layout-logo {
    min-width: 120px;
    width: auto;
}

.mdl-badge[data-badge]:after {
    background: #ec6248;
}

/* Typist style settings */

.typed-animation-inline {
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__content {
        margin-top: 60px;
    }
}
