.mdl-cell__content-wrapper {
    padding: 10px 40px 20px 40px;
    margin-right: 10%;
}

.mdl-cell--fill-image img {
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    object-fit: cover;
}

.mdl-cell__content-wrapper--align-right {
    text-align: right;
    margin-left: 10%;
    margin-right: 0;
}

.mdl-cell__content-wrapper > h1:first-child,
.mdl-cell__content-wrapper > h2:first-child,
.mdl-cell__content-wrapper > h3:first-child,
.mdl-cell__content-wrapper > h4:first-child,
.mdl-cell__content-wrapper > h5:first-child,
.mdl-cell__content-wrapper > h6:first-child {
    margin-top: 5px;
    padding-top: 0;
}

@media all and (max-width: 1024px) {
    .mdl-cell__content-wrapper,
    .mdl-cell__content-wrapper--align-right {
        text-align: left;
        padding: 10px 0;
        width: calc(100% - 24px);
        margin: 12px;
    }
}
