.news-card.mdl-card {
    width: 100%;
    background: #ec6248;
}

.news-card .mdl-card__title {
    padding-bottom: 10px;
}

.news-card .mdl-card__supporting-text {
    color: #fff;
    padding-top: 0;
}

.news-card > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}
.news-card > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}
.news-card > .mdl-card__title {
    align-items: flex-start;
}
.news-card > .mdl-card__title > h4 {
    margin: 0;
}
.news-card > .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.news-card > .mdl-card__actions > .material-icons {
    padding-right: 10px;
}
.news-card > .mdl-card__title,
.news-card > .mdl-card__actions,
.news-card > .mdl-card__actions > .mdl-button {
    color: #fff;
}
.news-card .mdl-card__date {
    font-size: 80%;
    font-weight: 300;
}
.news-card .mdl-card__time {
    font-size: 60%;
    font-weight: 400;
}

/* Modifier */
.news-card.news-card--small .mdl-card__actions {
    display: none;
}

.news-card.news-card--small > .mdl-card__title > h4 {
    font-size: 19px;
    line-height: 22px;
}
.news-card.news-card--small .mdl-card__supporting-text {
    font-size: 12px;
    line-height: 14px;
}
