.mdl-app-bar-logo {
    z-index: 25;
    background-color: #ec6248;
    height: 60px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.mdl-app-bar-logo img {
    height: 50px;
    width: 135px;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
}

.mdl-layout.mdl-layout--home .mdl-app-bar-logo {
    background-color: #000000;
}

.mdl-layout.mdl-layout--home .mdl-layout__drawer-button .material-icons {
    color: #fff;
}

@media all and (min-width: 1024px) {
    .mdl-app-bar-logo {
        display: none;
    }
}
