.mdl-app-bar-logo {
    background-color: #ec6248;
    height: 60px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.mdl-app-bar-logo img {
    height: 50px;
    width: 135px;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
}

@media all and (min-width: 1024px) {
    .mdl-app-bar-logo {
        display: none;
    }
}
