.mdl-layout-logo {
    height: 50px;
    display: block;
}

.mdl-layout__header {
    background-color: #ec6248;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: #ffffff;
}

.mdl-layout.mdl-layout--home .mdl-layout__header {
    background-color: transparent;
    min-height: 0 !important;
    height: 0 !important;
}
