.content-section {
    width: calc(100% - 40px);
    max-width: 1280px;
    padding: 20px;
    margin: 48px auto 0 auto;
}

.content-section--align-center {
    text-align: center;
}

.content-section--spaced {
    margin: 75px auto;
}

.content-section--spaced-inner {
    margin: 0 auto 0 auto;
    padding: 75px auto;
}

.content-section--spaced-title {
    margin: 55px auto 75px auto;
}

.content-section--no-space {
    margin: 0 auto;
}

.content-section--width-small {
    max-width: 980px;
}

.content-section--width-x-small {
    max-width: 500px;
}

@media all and (max-width: 1024px) {
    .content-section {
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .content-section:not(.content-section--keep-spacing) {
        width: 100%;
    }
}
